# dependencies
/node_modules
UI/node_modules
UI/.pnp
UI/.pnp.js

# testing
/coverage

# production
/UI/build

# misc
/UI/.DS_Store
/UI/.env.local
/UI/.env.development.local
/UI/.env.test.local
/UI/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
